In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import keras,gc,time
from keras.layers import *
from keras.models import Sequential,Model

Using TensorFlow backend.

### Cargar datos

In [7]:
folder = "../proyecto/datasets/"
df_independencia_verano = pd.read_csv(folder+"dump-Independencia_2018-04-12_230000-verano.csv")
df_independencia_invierno = pd.read_csv(folder+"dump-Independencia_2018-04-12_230000-invierno.csv")

df_condes_verano = pd.read_csv(folder+"dump-Las_Condes_2018-04-12_230000-verano.csv")
df_condes_invierno = pd.read_csv(folder+"dump-Las_Condes_2018-04-12_230000-invierno.csv")

df_independencia_verano.head()

,registered_on,CO,PM10,PM25,NO2,NO,NOX,SO2,WD,RH,TEMP,WS,HCNM,UVA,UVB,O3
0,1997-11-01 01:00:00,2.7,63.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1997-11-01 02:00:00,2.6,54.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,1997-11-01 03:00:00,2.2,53.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,1997-11-01 04:00:00,2.5,65.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,1997-11-01 05:00:00,2.3,118.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [8]:
df_independencia_verano.tail()

,registered_on,CO,PM10,PM25,NO2,NO,NOX,SO2,WD,RH,TEMP,WS,HCNM,UVA,UVB,O3
75081,2018-03-31 19:00:00,NaN,40.0,9.0,NaN,NaN,NaN,NaN,164.584,43.0000,21.5583,1.245590,NaN,0.0,0.0,6.86500
75082,2018-03-31 20:00:00,NaN,33.5,9.0,NaN,NaN,NaN,NaN,169.048,50.0000,19.5583,1.169250,NaN,0.0,0.0,5.95750
75083,2018-03-31 21:00:00,NaN,24.5,11.0,NaN,NaN,NaN,NaN,207.717,54.5833,17.8083,0.966588,NaN,0.0,0.0,8.92751
75084,2018-03-31 22:00:00,NaN,27.5,10.0,NaN,NaN,NaN,NaN,189.509,58.4167,16.6667,0.816365,NaN,0.0,0.0,4.88500
75085,2018-03-31 23:00:00,NaN,29.0,10.0,NaN,NaN,NaN,NaN,231.942,61.4167,15.9083,1.116220,NaN,0.0,0.0,2.41000

In [56]:
## ultimo año como test
df_condes_verano_train = df_condes_verano[(df_condes_verano["registered_on"]<"2017")]
df_condes_invierno_train = df_condes_invierno[(df_condes_invierno["registered_on"]<"2017")]
df_condes_verano_test = df_condes_verano[df_condes_verano["registered_on"]>="2017"]
df_condes_invierno_test = df_condes_invierno[df_condes_invierno["registered_on"]>="2017"]

df_condes_verano_train.tail()

,registered_on,CH4,CO,PM10,PM25,NO2,NO,NOX,SO2,WD,RH,TEMP,WS,HCNM,UVA,UVB,O3
69390,2016-12-31 14:00:00,NaN,0.553417,53.0,24.0,7.0400,3.2450,10.28500,NaN,NaN,41.8333,26.6333,NaN,NaN,NaN,NaN,72.5233
69391,2016-12-31 15:00:00,NaN,0.467584,22.0,21.0,4.4825,2.7500,7.23250,NaN,NaN,39.3333,26.3167,NaN,NaN,NaN,NaN,58.9725
69392,2016-12-31 16:00:00,NaN,0.459000,16.5,13.0,3.4925,2.9975,6.49000,NaN,NaN,37.3333,26.0583,NaN,NaN,NaN,NaN,50.3033
69393,2016-12-31 17:00:00,NaN,0.459000,15.0,14.0,3.9050,3.4100,7.31500,NaN,NaN,36.3333,25.1417,NaN,NaN,NaN,NaN,42.9808
69394,2016-12-31 18:00:00,NaN,0.450417,NaN,NaN,6.6275,3.1625,9.79001,NaN,NaN,38.8333,24.1750,NaN,NaN,NaN,NaN,NaN

In [57]:
df_condes_verano_test.head()

,registered_on,CH4,CO,PM10,PM25,NO2,NO,NOX,SO2,WD,RH,TEMP,WS,HCNM,UVA,UVB,O3
69395,2017-01-03 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,28.834697,NaN
69396,2017-01-03 14:00:00,NaN,NaN,19.5,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,24.715235,NaN
69397,2017-01-03 15:00:00,NaN,0.836667,13.5,18.0,10.2575,1.7600,12.0175,NaN,NaN,14.9167,28.8167,NaN,NaN,0.0,24.537322,73.6176
69398,2017-01-03 16:00:00,NaN,0.768001,19.5,2.0,10.8350,2.5025,13.3375,NaN,NaN,12.2500,28.2917,NaN,NaN,0.0,17.778006,57.6258
69399,2017-01-03 17:00:00,NaN,0.793750,72.0,10.0,11.5775,2.5850,14.1625,NaN,NaN,14.5000,27.4250,NaN,NaN,0.0,9.862870,51.9867

In [11]:
df_condes_verano.dropna(how='any')

Empty DataFrame
Columns: [registered_on, CH4, CO, PM10, PM25, NO2, NO, NOX, SO2, WD, RH, TEMP, WS, HCNM, UVA, UVB, O3]
Index: []

Si elimino todas las que tengan al menos un null se eliminan todos los registros

In [65]:
df_condes_verano_train.loc[:,rows_to_use].dropna(subset=["O3"])#(how="all",O3)

,CO,PM10,PM25,NO2,NO,NOX,SO2,WD,RH,TEMP,WS,HCNM,UVA,UVB,O3
0,1.100000,57.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.00000
1,0.900000,46.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.00000
2,0.799997,32.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.00000
3,0.700000,51.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.00000
4,0.599998,74.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00000
5,0.599998,115.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.00000
6,0.500000,86.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.00000
7,0.700000,89.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.00000
8,0.900000,142.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.00000
9,0.700000,110.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.00000
10,0.599998,101.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.00000
11,0.500000,50.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.00000
12,0.500000,74.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.00000
13,0.300000,96.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.00000
14,0.300000,85.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.00000
15,0.500000,83.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.00000
16,0.400000,66.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.00000
17,0.500000,52.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.00000
18,0.599998,44.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.00000
19,0.599998,49.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00000
20,0.700000,43.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00000
21,0.700000,39.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00000
22,0.599998,46.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00000
23,0.599998,37.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00000
24,0.599998,41.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00000
25,0.500000,54.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00000
26,0.500000,83.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00000
27,0.300000,102.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.00000
28,0.300000,92.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.00000
29,0.300000,62.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69364,0.750834,71.0,43.0,38.63750,11.90750,50.5450,NaN,NaN,47.6667,24.6917,NaN,NaN,NaN,NaN,55.85830
69365,0.647834,83.0,37.0,28.07750,6.54500,34.6225,NaN,NaN,44.0833,26.1583,NaN,NaN,NaN,NaN,80.51920
69366,0.596334,77.5,42.0,17.35250,3.74000,21.0925,NaN,NaN,40.3333,27.6333,NaN,NaN,NaN,NaN,95.16420
69367,0.562000,51.0,24.0,11.66000,3.65750,15.3175,NaN,NaN,39.5833,27.8083,NaN,NaN,NaN,NaN,79.93010
69368,0.536250,42.5,25.0,9.59750,4.15250,13.7500,NaN,NaN,39.5833,27.4333,NaN,NaN,NaN,NaN,62.59170
69369,0.501917,42.0,21.0,8.11250,3.74000,11.8525,NaN,NaN,40.3333,26.8417,NaN,NaN,NaN,NaN,57.45750
69370,0.484750,37.0,12.0,6.79250,3.49250,10.2850,NaN,NaN,41.5000,26.0417,NaN,NaN,NaN,NaN,53.58580
69371,0.493333,40.5,15.0,8.03000,3.08000,11.1100,NaN,NaN,42.8333,25.6167,NaN,NaN,NaN,NaN,47.18910
69372,0.527667,33.5,14.0,10.25750,2.42000,12.6775,NaN,NaN,51.0833,23.0750,NaN,NaN,NaN,NaN,35.91080
69373,0.501917,28.5,16.0,10.83500,2.42000,13.2550,NaN,NaN,60.7500,20.4583,NaN,NaN,NaN,NaN,27.07330
69374,0.527667,24.0,13.0,12.89750,2.42000,15.3175,NaN,NaN,66.7500,18.8750,NaN,NaN,NaN,NaN,21.51830
69375,0.562000,25.0,16.0,15.86750,2.42000,18.2875,NaN,NaN,71.5000,17.7333,NaN,NaN,NaN,NaN,16.30000
69376,0.562000,22.0,12.0,17.35250,2.50250,19.8550,NaN,NaN,76.4167,16.8000,NaN,NaN,NaN,NaN,10.99750
69377,0.582601,31.0,19.0,16.36250,2.75000,19.1125,NaN,NaN,81.1667,15.3000,NaN,NaN,NaN,NaN,9.81917
69378,0.562000,25.0,24.0,15.84000,2.42000,18.2600,NaN,NaN,82.2500,14.7500,NaN,NaN,NaN,NaN,10.74500
69379,0.504778,24.0,20.0,8.91000,2.42000,11.3300,NaN,NaN,84.5833,13.9833,NaN,NaN,NaN,NaN,13.10170
69380,0.459000,22.0,15.0,8.93750,2.58500,11.5225,NaN,NaN,86.3333,13.6167,NaN,NaN,NaN,NaN,12.70890
69381,0.467584,16.0,12.0,9.43251,3.08000,12.5125,NaN,NaN,86.8333,13.4333,NaN,NaN,NaN,NaN,10.68890
69382,0.459000,21.0,12.0,8.69000,5.55500,14.2450,NaN,NaN,87.0000,13.3500,NaN,NaN,NaN,NaN,11.58670
69383,0.459000,32.0,21.0,9.92751,10.09250,20.0200,NaN,NaN,81.0000,14.7333,NaN,NaN,NaN,NaN,14.02750
69384,0.527667,42.5,18.0,9.01999,9.10251,18.1225,NaN,NaN,73.4167,16.8417,NaN,NaN,NaN,NaN,21.60250
69385,0.562000,49.0,25.0,11.08250,8.27750,19.3600,NaN,NaN,66.9167,18.7833,NaN,NaN,NaN,NaN,29.93500
69386,0.562000,53.0,27.0,12.56750,6.29750,18.8650,NaN,NaN,58.5833,21.2500,NaN,NaN,NaN,NaN,42.81250
69387,0.570583,51.0,29.0,14.13500,5.22500,19.3600,NaN,NaN,51.6667,23.0417,NaN,NaN,NaN,NaN,58.72000
69388,0.579167,56.0,29.0,13.80500,4.15250,17.9575,NaN,NaN,47.2500,24.5833,NaN,NaN,NaN,NaN,71.76590
69389,0.562000,49.0,30.0,9.76250,3.24500,13.0075,NaN,NaN,42.5833,26.1083,NaN,NaN,NaN,NaN,79.59340
69390,0.553417,53.0,24.0,7.04000,3.24500,10.2850,NaN,NaN,41.8333,26.6333,NaN,NaN,NaN,NaN,72.52330
69391,0.467584,22.0,21.0,4.48250,2.75000,7.2325,NaN,NaN,39.3333,26.3167,NaN,NaN,NaN,NaN,58.97250
69392,0.459000,16.5,13.0,3.49250,2.99750,6.4900,NaN,NaN,37.3333,26.0583,NaN,NaN,NaN,NaN,50.30330
69393,0.459000,15.0,14.0,3.90500,3.41000,7.3150,NaN,NaN,36.3333,25.1417,NaN,NaN,NaN,NaN,42.98080

### PRe PRocesarlos

In [58]:
#drop?

rows_to_use = ["CO","PM10","PM25","NO2","NO","NOX","SO2","WD","RH","TEMP","WS","HCNM","UVA","UVB","O3"]

In [59]:
## representacion

def create_sequences(dataframe,lag=1,dia=True):
    #preprocesamiento asumiendo dataset es una secuencia
    timestep = dataframe.loc[:,"registered_on"].values
    
    if dia:
        indices_orden = []
        dia = timestep[0].split("-")[-1].split(" ")[0]
        aux_indices1 = 0
        aux_indices2 = 0 
        for dato in timestep[1:]:
            nuevo_dia = dato.split("-")[-1].split(" ")[0]
            aux_indices2+=1
            if dia != nuevo_dia:
                dia = nuevo_dia
                indices_orden.append([aux_indices1,aux_indices2])
                aux_indices1 = aux_indices2
        indices_orden.append([aux_indices1,aux_indices2+1])
        
        aux =  []
        data = dataframe.loc[:,rows_to_use].values
        for init,finit in indices_orden:
            aux+=[np.nanmax(data[init:finit],axis=0)]
        data = np.asarray(aux)
        #dropnan... de O3
        data = data[~np.isnan(data)[:,-1]]
    else:
        #dropnan... de o3
        data = dataframe.loc[:,rows_to_use].dropna(subset=["O3"]).values
    
    #rellenar nans de valores nada?
    data = np.asarray([[-1. if np.isnan(x) else x for x in array] for array in data])
    
    
    dataX = []
    dataY =[]
    for t_plus_1 in range(lag,len(data)):
        #se crea el Y (target)
        predecir = data[t_plus_1][-1] #ultima columna es O3
        dataY.append(predecir)
        
        #se crea el X (inputs) columnas para predecir Y
        columnasX = []
        for i in np.arange(lag,0,-1): #para los valores anteriores al t_plus_1 durante un lag
            columnasX.append( data[t_plus_1-i] )
        dataX.append(columnasX)
    return np.array(dataX),np.array(dataY).reshape(len(dataY),1)

In [90]:
lag = 3
dia=True
trainX1, trainY1 = create_sequences(df_condes_verano_train, lag,dia)
trainX2, trainY2 = create_sequences(df_condes_invierno_train, lag,dia)

testX1, testY1 = create_sequences(df_condes_verano_test, lag,dia)
testX2, testY2 = create_sequences(df_condes_invierno_test, lag,dia)

print "All arrays shapes"
print "Train verano (input): ",trainX1.shape
print "Train invierno (input): ",trainX2.shape
print "Train verano (output): ",trainY1.shape
print "Train invierno (output): ",trainY2.shape

/home/casapanshop/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:24: RuntimeWarning: All-NaN slice encountered

All arrays shapes
Train verano (input):  (2931, 3, 15)
Train invierno (input):  (2401, 3, 15)
Train verano (output):  (2931, 1)
Train invierno (output):  (2401, 1)

In [24]:
def trid_to_2d(array,backward=False):
    if backward:
        return array.reshape(array.shape[0]/lag, lag ,array.shape[-1])
    else:
        return array.reshape((np.prod(array.shape[:2]), array.shape[-1]))

In [146]:
trid_to_2d(trid_to_2d(trainX),backward=True).shape

(2932, 3, 16)

In [68]:
#calculo de estadisticos ("fit") MinMaxScaler
class MinMax(object):
    def __init__(self,aux=True):
        self.minimos = None
        self.maximos = None
        
    def fit(self,data):
        self.minimos = np.nanmin(data, axis=(0,1))#, keepdims=True)
        self.maximos = np.nanmax(data ,axis=(0,1))#, keepdims=True)
    
    def transform(self,data):
        #normalize between 0 and 1 every statisctic
        return (data-self.minimos) / (self.maximos-self.minimos)
    
    def inverse_transform(self,data):
        return data*(self.maximos-self.minimos) + self.minimos
    
scaler_model1 = MinMax()
scaler_model1.fit(trainX1)
X_train1 = scaler_model1.transform(trainX1)
X_test1 = scaler_model1.transform(testX1)

scaler_model2 = MinMax()
scaler_model2.fit(trainX2)
X_train2 = scaler_model2.transform(trainX2)
X_test2 = scaler_model2.transform(testX2)

X_train1.shape

(2931, 3, 15)

In [69]:
print("Minimos en train: ", np.nanmin(X_train1, axis=(0,1)))
print("Minimos en test: ", np.nanmin(X_test1, axis=(0,1)))

('Minimos en train: ', array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]))
('Minimos en test: ', array([0.        , 0.03631647, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.44306931, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0890018 ]))

In [70]:
print("Maximos en train: ", np.nanmax(X_train2, axis=(0,1)))
print("Maximos en test: ", np.nanmax(X_test2, axis=(0,1)))

('Maximos en train: ', array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]))
('Maximos en test: ', array([0.34242493, 0.35275081, 0.60732984, 0.94251483, 0.7479625 ,
       0.715719  , 0.        , 0.        , 0.93307297, 0.88036868,
       0.        , 0.        , 0.04304834, 0.26231418, 0.37012987]))

In [114]:
#para el Y tambien...
from sklearn.preprocessing import MinMaxScaler
scaler_model = MinMaxScaler()
scaler_model.fit(trainY)
y_train = scaler_model.transform(trainY)
y_test = scaler_model.transform(testY)
y_train.shape

(2931, 1)

Características del modelo:
* Predecir el máximo de ozono $O_3$ del día siguiente (del período de 24 horas).
* Grano de predicción: Horas o día? probar dia...
* Cuanta información anterior utilizar? ..3 dias
* Nulos? en $O_3$ o contaminantes?
    * Borrar
    * Mascara

In [ ]:
#predecir el máximo del dia siguiente...
#

## Modelo

In [71]:
batch_size = 32
epochs = 15
opt = 'adam'
loss_utilizada = 'mse' #?
nhidden = 64
from attention import *

In [136]:
modelo1 = Sequential()
#modelo1.add(LSTM(nhidden, input_shape=(timesteps, features), return_sequences=True))
modelo1.add(AttentionDecoder(nhidden, nhidden,input_shape=(timesteps,features),return_sequences=False)) #que son esos  (units, output_dim)

#modelo1.add(LSTM(nhidden, return_sequences=False))

modelo1.add(Dense(1,activation='linear')) #1 prediccion?
modelo1.compile(loss=loss_utilizada, optimizer=opt, metrics=['acc'])
modelo1.summary()
# train LSTM

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
AttentionDecoder (AttentionD (None, 3, 64)             43008
_________________________________________________________________
dense_12 (Dense)             (None, 3, 1)              65
=================================================================
Total params: 43,073
Trainable params: 43,073
Non-trainable params: 0
_________________________________________________________________

In [107]:
#https://github.com/farizrahman4u/seq2seq
import seq2seq
from seq2seq.models import SimpleSeq2Seq

model = SimpleSeq2Seq(input_dim=5, hidden_dim=10, output_length=8, output_dim=8)
model.compile(loss='mse', optimizer='rmsprop')

ImportError: No module named recurrentshop

In [96]:
timesteps = X_train.shape[1]
features = X_train.shape[2] #todo excepto o3

def root_mean_squared_error(y_true, y_pred):
    return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1)) 
def attention_multiply(vects):
    encoder, attention = vects
    return K.batch_dot(attention,encoder, axes=1)

def modelo(tipo,dia=True):
    model = Sequential()
    input_sh = (timesteps, features)
    if tipo=="sin atencion":
        model.add(LSTM(nhidden,input_shape=input_sh,return_sequences=True))
        
    elif tipo=="atencion":
        #model.add(LSTM(nhidden, input_shape=input_sh, return_sequences=True))
        model.add(AttentionDecoder(nhidden, nhidden,input_shape=input_sh)) #que son esos  (units, output_dim)

    elif tipo=="atencion a mano":
        model.add(LSTM(nhidden, input_shape=input_sh, return_sequences=True))
        
        attention = TimeDistributed(Dense(timesteps, activation='tanh'))(model.layers[-1].output)
        #softmax a las antenciones sobre todo T
        attention = Permute([2, 1])(attention)
        attention = Activation('softmax')(attention) 
        attention = Permute([2, 1])(attention)
        outp = Dot(axes=1)([attention,model.layers[-1].output])

        
        aux_model = Model(inputs=model.inputs[0],outputs=outp)
        print(aux_model.layers)
        #model.summary()
        
        model = Sequential()
        model.add(aux_model)
                  
        #esta en la tarea...
    
    elif tipo=="atencion libreria":
        return #pendiente
    
    
    if dia:
        model.add(LSTM(nhidden, return_sequences=False))
        model.add(Dense(1,activation='linear')) #1 prediccion?
    else:
        model.add(TimeDistributed(Dense(1,activation='linear'))) #varias prediccions--a nivel de horario..
        model.add(GlobalMaxPooling1D())
    
    model.compile(loss=loss_utilizada,optimizer=opt)
    model.summary()
    return model

modelo1 = modelo("sin atencion",dia)
modelo2 = modelo("atencion",dia)
modelo3 = modelo("atencion a mano",dia)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_38 (LSTM)               (None, 3, 64)             20480
_________________________________________________________________
lstm_39 (LSTM)               (None, 64)                33024
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 65
=================================================================
Total params: 53,569
Trainable params: 53,569
Non-trainable params: 0
_________________________________________________________________
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
AttentionDecoder (AttentionD (None, 3, 64)             43008
_________________________________________________________________
lstm_40 (LSTM)               (None, 64)                33024
_________________________________________________________________
dense_25 (Dense)             (None, 1)                 65
=================================================================
Total params: 76,097
Trainable params: 76,097
Non-trainable params: 0
_________________________________________________________________
[<keras.engine.input_layer.InputLayer object at 0x7f3f82820290>, <keras.layers.recurrent.LSTM object at 0x7f3f8286df10>, <keras.layers.wrappers.TimeDistributed object at 0x7f3f826fb310>, <keras.layers.core.Permute object at 0x7f3f82694990>, <keras.layers.core.Activation object at 0x7f3f82694d50>, <keras.layers.core.Permute object at 0x7f3f826e3d10>, <keras.layers.merge.Dot object at 0x7f3f82588950>]
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
model_8 (Model)              (None, 3, 64)             20675
_________________________________________________________________
lstm_42 (LSTM)               (None, 64)                33024
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 65
=================================================================
Total params: 53,764
Trainable params: 53,764
Non-trainable params: 0
_________________________________________________________________

In [97]:
modelo1.fit(X_train1, trainY1, epochs=epochs, batch_size=batch_size, validation_data=(X_test1, testY1))

Train on 2931 samples, validate on 195 samples
Epoch 1/15
2931/2931 [==============================] - 8s 3ms/step - loss: 5862.2981 - val_loss: 3149.6230
Epoch 2/15
2931/2931 [==============================] - 2s 831us/step - loss: 4203.8005 - val_loss: 2486.4912
Epoch 3/15
2931/2931 [==============================] - 2s 845us/step - loss: 3480.2926 - val_loss: 1990.5385
Epoch 4/15
2931/2931 [==============================] - 2s 835us/step - loss: 2901.6535 - val_loss: 1597.0484
Epoch 5/15
2931/2931 [==============================] - 2s 818us/step - loss: 2424.6334 - val_loss: 1284.2330
Epoch 6/15
2931/2931 [==============================] - 2s 822us/step - loss: 2033.2018 - val_loss: 1040.3605
Epoch 7/15
2931/2931 [==============================] - 2s 810us/step - loss: 1713.1174 - val_loss: 855.9118
Epoch 8/15
2931/2931 [==============================] - 2s 833us/step - loss: 1453.4056 - val_loss: 718.3675
Epoch 9/15
2931/2931 [==============================] - 2s 813us/step - loss: 1244.8872 - val_loss: 619.9569
Epoch 10/15
2931/2931 [==============================] - 2s 808us/step - loss: 1079.9433 - val_loss: 553.5094
Epoch 11/15
2931/2931 [==============================] - 2s 812us/step - loss: 951.3823 - val_loss: 512.4174
Epoch 12/15
2931/2931 [==============================] - 2s 832us/step - loss: 852.6342 - val_loss: 490.7867
Epoch 13/15
2931/2931 [==============================] - 2s 823us/step - loss: 778.0861 - val_loss: 483.8753
Epoch 14/15
2931/2931 [==============================] - 2s 818us/step - loss: 723.0922 - val_loss: 487.2314
Epoch 15/15
2931/2931 [==============================] - 2s 820us/step - loss: 683.2913 - val_loss: 497.2500

In [98]:
modelo2.fit(X_train1, trainY1, epochs=epochs, batch_size=batch_size, validation_data=(X_test1, testY1))

Train on 2931 samples, validate on 195 samples
Epoch 1/15
2931/2931 [==============================] - 10s 3ms/step - loss: 6430.3509 - val_loss: 3196.2058
Epoch 2/15
2931/2931 [==============================] - 3s 1ms/step - loss: 4137.2301 - val_loss: 2369.6149
Epoch 3/15
2931/2931 [==============================] - 3s 1ms/step - loss: 3285.0377 - val_loss: 1817.8954
Epoch 4/15
2931/2931 [==============================] - 3s 1ms/step - loss: 2674.1917 - val_loss: 1433.3948
Epoch 5/15
2931/2931 [==============================] - 3s 1ms/step - loss: 2211.3652 - val_loss: 1143.3986
Epoch 6/15
2931/2931 [==============================] - 3s 1ms/step - loss: 1840.9631 - val_loss: 924.6608
Epoch 7/15
2931/2931 [==============================] - 3s 1ms/step - loss: 1543.9680 - val_loss: 762.6774
Epoch 8/15
2931/2931 [==============================] - 3s 1ms/step - loss: 1307.5137 - val_loss: 645.7009
Epoch 9/15
2931/2931 [==============================] - 3s 1ms/step - loss: 1121.7349 - val_loss: 568.3010
Epoch 10/15
2931/2931 [==============================] - 3s 1ms/step - loss: 978.2683 - val_loss: 519.4702
Epoch 11/15
2931/2931 [==============================] - 3s 1ms/step - loss: 868.8244 - val_loss: 493.5629
Epoch 12/15
2931/2931 [==============================] - 3s 1ms/step - loss: 787.1583 - val_loss: 484.2159
Epoch 13/15
2931/2931 [==============================] - 3s 1ms/step - loss: 727.4104 - val_loss: 486.7733
Epoch 14/15
2931/2931 [==============================] - 3s 1ms/step - loss: 684.6427 - val_loss: 497.1200
Epoch 15/15
2931/2931 [==============================] - 3s 1ms/step - loss: 654.9987 - val_loss: 511.8774

In [94]:
modelo3.fit(X_train1, trainY1, epochs=epochs, batch_size=batch_size, validation_data=(X_test1, testY1))

Train on 2931 samples, validate on 195 samples
Epoch 1/15
2931/2931 [==============================] - 9s 3ms/step - loss: 5787.3708 - val_loss: 3119.6776
Epoch 2/15
2931/2931 [==============================] - 3s 858us/step - loss: 4177.0524 - val_loss: 2471.0127
Epoch 3/15
2931/2931 [==============================] - 3s 863us/step - loss: 3469.5905 - val_loss: 1984.7117
Epoch 4/15
2931/2931 [==============================] - 3s 860us/step - loss: 2899.3357 - val_loss: 1598.3374
Epoch 5/15
2931/2931 [==============================] - 3s 871us/step - loss: 2430.1899 - val_loss: 1289.6630
Epoch 6/15
2931/2931 [==============================] - 3s 866us/step - loss: 2042.3350 - val_loss: 1049.7527
Epoch 7/15
2931/2931 [==============================] - 3s 869us/step - loss: 1724.0667 - val_loss: 864.0044
Epoch 8/15
2931/2931 [==============================] - 3s 873us/step - loss: 1464.8908 - val_loss: 725.5848
Epoch 9/15
2931/2931 [==============================] - 3s 860us/step - loss: 1256.1408 - val_loss: 625.9981
Epoch 10/15
2931/2931 [==============================] - 3s 887us/step - loss: 1090.5418 - val_loss: 557.8007
Epoch 11/15
2931/2931 [==============================] - 3s 890us/step - loss: 960.6926 - val_loss: 515.2867
Epoch 12/15
2931/2931 [==============================] - 3s 862us/step - loss: 860.5473 - val_loss: 492.4992
Epoch 13/15
2931/2931 [==============================] - 3s 871us/step - loss: 784.4075 - val_loss: 484.2226
Epoch 14/15
2931/2931 [==============================] - 3s 870us/step - loss: 727.7739 - val_loss: 486.5224
Epoch 15/15
2931/2931 [==============================] - 3s 858us/step - loss: 686.6977 - val_loss: 495.8367

In [84]:
#ivnierno
modelo1.fit(X_train2, trainY2, epochs=epochs, batch_size=batch_size, validation_data=(X_test2, testY2))
modelo2.fit(X_train2, trainY2, epochs=epochs, batch_size=batch_size, validation_data=(X_test2, testY2))

Train on 2401 samples, validate on 116 samples
Epoch 1/15
2401/2401 [==============================] - 6s 3ms/step - loss: 995.3553 - val_loss: 91.2107
Epoch 2/15
2401/2401 [==============================] - 2s 807us/step - loss: 584.0577 - val_loss: 81.9976
Epoch 3/15
2401/2401 [==============================] - 2s 805us/step - loss: 497.9957 - val_loss: 104.9367
Epoch 4/15
2401/2401 [==============================] - 2s 819us/step - loss: 459.7946 - val_loss: 135.8880
Epoch 5/15
2401/2401 [==============================] - 2s 810us/step - loss: 443.6389 - val_loss: 160.3402
Epoch 6/15
2401/2401 [==============================] - 2s 811us/step - loss: 437.5684 - val_loss: 178.2333
Epoch 7/15
2401/2401 [==============================] - 2s 796us/step - loss: 435.0719 - val_loss: 191.1585
Epoch 8/15
2401/2401 [==============================] - 2s 827us/step - loss: 433.9959 - val_loss: 201.6697
Epoch 9/15
2401/2401 [==============================] - 2s 800us/step - loss: 433.6821 - val_loss: 207.2870
Epoch 10/15
2401/2401 [==============================] - 2s 803us/step - loss: 433.0303 - val_loss: 206.6016
Epoch 11/15
2401/2401 [==============================] - 2s 805us/step - loss: 431.3019 - val_loss: 194.3920
Epoch 12/15
2401/2401 [==============================] - 2s 801us/step - loss: 407.7243 - val_loss: 176.7798
Epoch 13/15
2401/2401 [==============================] - 2s 806us/step - loss: 384.6176 - val_loss: 220.5985
Epoch 14/15
2401/2401 [==============================] - 2s 804us/step - loss: 368.4301 - val_loss: 228.6221
Epoch 15/15
2401/2401 [==============================] - 2s 810us/step - loss: 359.1543 - val_loss: 240.7277
Train on 2401 samples, validate on 116 samples
Epoch 1/15
2401/2401 [==============================] - 9s 4ms/step - loss: 1149.7745 - val_loss: 126.6672
Epoch 2/15
2401/2401 [==============================] - 3s 1ms/step - loss: 584.7321 - val_loss: 84.9876
Epoch 3/15
2401/2401 [==============================] - 3s 1ms/step - loss: 482.5031 - val_loss: 116.7412
Epoch 4/15
2401/2401 [==============================] - 3s 1ms/step - loss: 449.5337 - val_loss: 151.0951
Epoch 5/15
2401/2401 [==============================] - 3s 1ms/step - loss: 437.1526 - val_loss: 178.5327
Epoch 6/15
2401/2401 [==============================] - 3s 1ms/step - loss: 434.1824 - val_loss: 192.0038
Epoch 7/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.4413 - val_loss: 198.1497
Epoch 8/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.2255 - val_loss: 204.6981
Epoch 9/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.1485 - val_loss: 202.7599
Epoch 10/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.0907 - val_loss: 204.6444
Epoch 11/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.0435 - val_loss: 205.3382
Epoch 12/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.0541 - val_loss: 205.1862
Epoch 13/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.2033 - val_loss: 205.8076
Epoch 14/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.1083 - val_loss: 206.6267
Epoch 15/15
2401/2401 [==============================] - 3s 1ms/step - loss: 433.0553 - val_loss: 204.4379

In [9]:
## evaluación?
rmse?



#if es hora.. max
# si es por dia ya predice max

In [99]:
def evaluar_modelo(modelito,data):
    mse_test = modelito.evaluate(data[0],data[1])
    print("RMSE del modelo en test: ",np.sqrt(mse_test))

In [100]:
evaluar_modelo(modelo1,[X_test1,testY1])

195/195 [==============================] - 0s 378us/step
('RMSE del modelo en test: ', 22.299102826211783)

In [101]:
evaluar_modelo(modelo2,[X_test1,testY1])

195/195 [==============================] - 0s 361us/step
('RMSE del modelo en test: ', 22.624708065208985)

In [95]:
evaluar_modelo(modelo3,[X_test1,testY1])

195/195 [==============================] - 0s 351us/step
('RMSE del modelo en test: ', 22.26739011397847)

In [ ]:
### combinar resultados?